input,
input:active,
input:focus,
input:hover {
  @apply h-[40px] rounded-[6px] py-[5px] pl-[12px];
  @apply shadow-none outline-none outline-offset-0;
  @apply bg-pearl-medium ring-focus-start ring-transparent;
  @apply transition-input-focus ease-out;
}

input:focus {
  @apply border-none bg-white-white;
  @apply ring-focus-end ring-accent-color ring-offset-0;
  @apply transition-shadow duration-250;
}
