# These owners will be the default owners for everything in the
# repo unless a later match takes precedence.
*                   @singlestone/design-system-reviewers
package.json        @singlestone/design-system-maintainers
pnpm-lock.yaml      @singlestone/design-system-maintainers
.nvmrc              @singlestone/design-system-maintainers
.changeset/*        @singlestone/design-system-maintainers
.github/*           @singlestone/design-system-maintainers
CHANGELOG.md        @singlestone/design-system-maintainers
