@layer base {
  :root {
    /* With HSL colors, you can easily darken or lighten an accent color without the color becoming muddy and unsaturated.
      Just increase or decrease the "L" value for lightness. It is the third value in an HSL attribute. */

    --accent-color-h: 1;
    --accent-color-s: 65%;
    --accent-color-l: 38%;

    --accent-color-hsl: var(--accent-color-h), var(--accent-color-s),
      var(--accent-color-l);

    --accent-color-light: var(--accent-color-h), var(--accent-color-s),
      calc(var(--accent-color-l) + 10%);

    --accent-color-lighter: var(--accent-color-h), var(--accent-color-s),
      calc(var(--accent-color-l) + 16%);

    --accent-color-very-light: var(--accent-color-h), var(--accent-color-s),
      calc(var(--accent-color-l) + 58%);

    --accent-color-dark: var(--accent-color-h) var(--accent-color-s),
      calc(var(--accent-color-l) - 12%);

    --accent-color-translucent: hsla(var(--accent-color-hsl), 0.35);

    --danger-color: 213, 61, 37;
    --danger-color-dark: 160 46 28;
    --danger-color-translucent-base: 234, 78, 61; /* use opacity 0.06 */

    --create-color: 25, 171, 36;

    --warning-color: 252 179 18;

    --translucent-light: rgba(255, 255, 255, 0.8);
    --translucent-darker: rgba(0, 0, 0, 0.25);
    --translucent-dark: rgba(0, 0, 0, 0.12);
    --translucent-dark-barely: rgba(0, 0, 0, 0.06);

    --white-white: 255, 255, 255;
    --black-black: 0, 0, 0;

    --light-pearl: 249, 249, 249;
    --medium-pearl: 236, 236, 236;
    --mediumer-pearl: 221, 221, 221;
    --dark-pearl: 205, 205, 205;
    --darker-pearl: 188, 188, 188;

    --light-gray: 162, 162, 612;
    --medium-gray: 144, 144, 144;
    --dark-gray: 119, 119, 119;
    --darker-gray: 85, 85, 85;

    --slate-black: 34 34 34;

    --lighten-overlay-color: rgba(255, 255, 255, 0.08);
    --darken-overlay-color: rgba(0, 0, 0, 0.3);

    --table-side-padding-for-hover: 20px;
    --table-content-padding: 24px;

    --column-width-for-overview: 10%;
    --column-gap-for-overview: 5%;

    --focus-box-shadow-start: 30px;
    --focus-box-shadow-end: 3px;

    --padding-for-breadcrumb-focus: 6px;

    --right-sidebar-width: 400px;
    --chat-vertical-separator-distance: 32px;

    --checkbox-and-radio-button-height: 30px;
  }
}
